---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About me">
    <p>
      Software Engineer with 10 years of experience building, integrating and optimizing applications.
    </p>

    <p>
      Back-End Developer specialized in Javascript with Node, Express, MongoDB, PostgreSQL, AWS, Digital Ocean and GCloud. 
      With an initial trajectory in Java EE with Spring. 
      With experience doing Back-End ~ Frond-End integration with Angular and React.
    </p>
  </Page>
</Base>
